body {
    background-color: #000;
    color: #fff;
    text-align: center; /* This centers the inline-block elements horizontally */
}

div {
    display: inline-block; /* Align divs side by side */
    text-align: center;
    margin: 10px;
}

img {
    display: block; /* This ensures the image does not have any inline properties */
    margin-bottom: 5px; /* Space between image and label */
}

span {
    color: white; /* Label text color */
}
